<!-- music/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Nightcore</title>
		<link rel="stylesheet" href="aboutnight.css">
    </head>

    <body background="nightcore.jpg">
	<h1 align="center">Nightcore</h1>
	<p>A nightcore edit is a remix track that speeds up its source material, increasing its pitch.
	Formed in 2002, the name for the internet-based genre was originally defined as sped-up and
	pitch-shifted versions of trance and eurodance songs, but its definition expanded into non-dance
	territory by the time the remix style became popular in the 2010s. When uploaded as a music 
	video on YouTube, most nightcore videos feature a manga or anime picture as a visual component.</p>
	<br>
	<p>The publicity of nightcore has also been attributed to the works of PC Music, formed in 2013
	by musicians Danny L Harle and A. G. Cook who claimed to be influenced by the genre.</p>
	</body>
	</html>