<!-- music/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About NCS</title>
		<link rel="stylesheet" href="aboutncs.css">
    </head>
	
	<body background="ncs.jpg">
	<h1 align="center">NoCopyrghtSounds</h1>
	<p>NoCopyrightSounds (abbreviated as NCS) is a British record label and music organisation 
	founded by Billy Woodford in 2011. The label was created as a means to discover royalty-free 
	music that could be used on Woodford's video game videos.</p>
	<br>
	<p>NCS releases music created by a variety of different musicians. All music released by NCS 
	may be used royalty-free on YouTube and Twitch with appropriate attribution.
	The label mainly publishes music that pertains to the electronic dance music genre as well as 
	other alternative themed music.</p>
	<br>
	<p>Despite the record label's name, copyright claims has hit users who used NCS in the past. 
	Most of these claims have been fixed.</p>
	
	</body>
	</html>