<!-- music/templates/index.html -->
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <title>Homepage - NIGHTCORE_NCS Universe</title>
		 <link rel="stylesheet" href="home.css">
    </head>
	
	<body background="imghome.jpg">
	
	
	
	<div id="nav">
		<ul>
			<li><a href="login.html">Login</a></li>
			<li><a href="register.html">Register</a></li>
		</ul>
	</div>
	
	
	<div id="container">
	<ul id="menu">
    <li><a href="ncs.html">NCS songs</a></li>
	<li><a href="aboutncs.html">About NCS</a></li>
    <li><a href="night.html">Nightcore songs</a></li>
    <li><a href="aboutnight.html">About Nightcore</a></li>
	</ul>
	</div>

	
	
	</body>
</html>