<!-- music/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NoCopyrightSongs</title>
		<link rel="stylesheet" href="ncs.css">
    </head>

    <body background="ncs.jpg">
		<div align="right">
		<label for="search" class="structural"></label>
		<input type="search" id="search" name="search" class="txt" size="40" padding-top="60">
		<input type="submit" class="btn" value="search">
		</div>

        
		<div align="center">
        <a href="#A">
        <button>A</button>
        </a>
		<a href="#B">
        <button>B</button>
        </a>
		<a href="#C">
        <button>C</button>
        </a>
		<a href="#D">
        <button>D</button>
        </a>
		<a href="#E">
        <button>E</button>
        </a>
		<a href="#F">
        <button>F</button>
        </a>
		<a href="#G">
        <button>G</button>
        </a>
		<a href="#H">
        <button>H</button>
        </a>
		<a href="#I">
        <button>I</button>
        </a>
		<a href="#J">
        <button>J</button>
        </a>
		<a href="#K">
        <button>K</button>
        </a>
		<a href="#L">
        <button>L</button>
        </a>
		<a href="#M">
        <button>M</button>
        </a>
		<a href="#N">
        <button>N</button>
        </a>
		<a href="#O">
        <button>O</button>
        </a>
		<a href="#P">
        <button>P</button>
        </a>
		<a href="#Q">
        <button>Q</button>
        </a>
		<a href="#R">
        <button>R</button>
        </a>
		<a href="#S">
        <button>S</button>
        </a>
		<a href="#T">
        <button>T</button>
        </a>
		<a href="#U">
        <button>U</button>
        </a>
		<a href="#V">
        <button>V</button>
        </a>
		<a href="#W">
        <button>W</button>
        </a>
		<a href="#X">
        <button>X</button>
        </a>
		<a href="#Y">
        <button>Y</button>
        </a>
		<a href="#Z">
        <button>Z</button>
        </a>
        </div>
       
	    <div>
		<a id="A"></a>
		<a id="A">
		<p align="center">A</p>
	
		</a>
		</div>
		
		<a id="B"></a>
		<a id="B">
		<p align="center">B</p>
		</a>
		
		<a id="C"></a>
		<a id="C">
		<p align="center">C</p>
		</a>
		
		<a id="D"></a>
		<a id="D">
		<p align="center">D</p>
		</a>
		
		<a id="E"></a>
		<a id="E">
		<p align="center">E</p>
		</a>
		
		<a id="F"></a>
		<a id="F">
		<p align="center">F</p>
		</a>
		<a id="G"></a>
		<a id="G">
		<p align="center">G</p>
		</a>
		
		<a id="H"></a>
		<a id="H">
		<p align="center">H</p>
		</a>
		
		<a id="I"></a>
		<a id="I">
		<p align="center">I</p>
		</a>
		
		<a id="L"></a>
		<a id="L">
		<p align="center">L</p>
		</a>
		
		<a id="M"></a>
		<a id="M">
		<p align="center">M</p>
		</a>
		
		<a id="N"></a>
		<a id="N">
		<p align="center">N</p>
		<h3> Nova - Ahrix </h3>
		<h4>04:42</h4>
		<audio src="./music/Ahrix - Nova.mp3" controls>Ahrix</audio>
		</a>
		
		<a id="O"></a>
		<a id="O">
		<p align="center">O</p>
		<audio src="./music/Ahrix - Nova.mp3" controls>Ahrix</audio>
		</a>
		
		<a id="P"></a>
		<a id="P">
		<p align="center">P</p>
		</a>
		
		<a id="Q"></a>
		<a id="Q">
		<p align="center">Q</p>
		</a>
		
		<a id="R"></a>
		<a id="R">
		<p align="center">R</p>
		</a>
		
		<a id="S"></a>
		<a id="S">
		<p align="center">S</p>
		</a>
		
		<a id="T"></a>
		<a id="T">
		<p align="center">T</p>
		</a>
		
		<a id="U"></a>
		<a id="U">
		<p align="center">U</p>
		</a>
		
		<a id="V"></a>
		<a id="V">
		<p align="center">V</p>
		</a>
		
		<a id="W"></a>
		<a id="W">
		<p align="center">W</p>
		</a>
		
		<a id="X"></a>
		<a id="X">
		<p align="center">X</p>
		</a>
		
		<a id="Y"></a>
		<a id="Y">
		<p align="center">Y</p>
		</a>
		
		<a id="Z"></a>
		<a id="Z">
		<p align="center">Z</p>
		
		</div>

    </body>
</html>
