body {
width:   100%;
height:  100%;
margin:  00px 00px 00px 00px;
background: url(nightcore.jpg) no-repeat fixed;
background-size:100% 100%;
}






p {  
	color: yellow ;
	font-size: 40px;
	font-family: Arial, Verdana, sans-serif;
}